:root {
  --headingSize: calc(2vmin + 20px);
  --textSize: calc(2vmin + 10px);
}

* {
  box-sizing: border-box;
}

body {
  background-color: #29282c;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;

  display: flex;
  flex-flow: column wrap;
  align-items: center;

  padding: 0px;
  margin: 0px;
}

.heading {
  display: flex;
  align-items: center;
  padding: 2rem;
  color: white;
  font-family: "Fredericka the Great", cursive;
  font-size: 4.5rem;
}

.game-container {
  flex: 1 0 auto;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.btn-div {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  background: #517664;
  border-radius: 10px;
  margin: 20px 40px;
  padding: 20px 10px;
}

.btn-div > button {
  width: 180px;
  height: 180px;
  border-radius: 25px;
  background-color: #d3fcd5;
}

.btn-div button img {
  width: 80%;
  height: 80%;
}

.message-div {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  flex-wrap: wrap;
  color: #fafffd;
  align-items: center;
  padding: 10px;
  gap: 10px;
  font-size: var(--textSize);
  font-family: "Fredericka the Great", cursive;
}

.scores {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.scores > div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
}

.scorecard {
  font-size: var(--headingSize);
}

.credits {
  color: #efefd0;
  margin-left: 20px;
}

.credits a {
  color: #efefd0;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  margin-top: auto;
  color: white;
  justify-content: center;
  align-items: center;
  padding: 40px 10px 10px 10px;

  font-size: calc(2vmin + 2px);
}

@media (max-width: 700px) {
  .heading {
    font-size: var(--headingSize);
    padding: 5px;
  }

  .game-container {
    padding-top: 10%;
  }

  .btn-div > button {
    width: 80px;
    height: 80px;
    border-radius: 8px;
  }
}
