body{
    background-color: #29282C;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 0px; margin: 0px;
}

.heading {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    color: white;
    font-family: 'Fredericka the Great', cursive;
    font-size: 3.5em;

}

.head-images{
    display: flex;
    flex-wrap: wrap;
    gap: 120px;
    justify-content: space-between;
    padding: 50px 0 20px 0;
    width: 120vh;
}
.pic1{
    width:100px; /*width of image*/
    height:100px; /*height of image*/
}
.pic2{
    width:100px; /*width of image*/
    height:100px; /*height of image*/
}
.pic3{
    width:100px; /*width of image*/
    height:100px; /*height of image*/
}

.btn-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background: #517664;
    border-radius: 10px;
    margin: 20px 40px;
    height: 280px;
    width: 900px;
    padding: 10px;
}

.btn-div button{
    width: 180px;
    height: 180px;
    border-radius: 25px;
    background-color: #D3FCD5;
}


.footer{
    display: flex;
    margin-top: auto;
    color: white;
    justify-content: center;
    padding-bottom: 10px;
}